@font-face { font-family: 'LatoHairline'; 
  src: url('../../fonts/Lato-Hai-webfont.eot'); 
  src: url('../../fonts/Lato-Hai-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../../fonts/Lato-Hai-webfont.woff') format('woff'), 
  url('../../fonts/Lato-Hai-webfont.ttf') format('truetype'), 
  url('../../fonts/Lato-Hai-webfont.svg#LatoHairline') format('svg'); 
  font-weight: normal;
  font-style: normal;
}

body{
  font-family:  'Lato', Calibri, Arial, sans-serif;
  color: #89867e;
  background-image : url(../images/bg.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 15px; padding: 0; margin: 0;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.main,
.container > header {
	width: 100%;
	margin: 0 auto;
	padding: 0 7em; /* media query en reduisant le padding */
}

.main {
	max-width: 60em;
	/*min-height: 40em;*/
}

nav#menu {
	margin-left: 5%; 
}

#navbar {
  background-color: transparent;/*#009688*/
  color: white;
  position: fixed;
  top: 0px;
  left : 0px;
  height: 50px;
  width: 100%;
  text-align: center;    
  z-index: 1000;    
  display: none;    
}

#gauche {
  float:left;
  width:45%;
  padding-left: 40%;
}
#droite {
  padding-left: 1.5%;
  overflow:auto;
  text-align: left;
}

.thumbProfil{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #fff;
  overflow: hidden;
}

.navFix{
  display: inline-block;
  font-size: 18px;
  line-height: 45px;
  margin: 0 2px;
}
/************************************************************************************
                                      SECTION
*************************************************************************************/
.content{
  position: relative;
}

.separate{
	background : #ecf0f1;
  height : 7px;
}

 .lato{
  font-family: 'LatoHairline', Arial, serif;
  font-weight: normal;
   font-style: normal;
   color: #fefefe; 
}

#Home{
	background-color: rgba(192, 57, 43,0.98);
	min-height: 400px;
  height: auto;
  text-align: center;
	width: 100%;
  padding-bottom: 35px;

}

#Education{
	background-color: rgba(241, 196, 15,0.98);
	min-height: 400px;
  height: auto;
	width: 100%;
  padding-bottom: 35px;
}

#Work{
  background-color: rgba(39, 174, 96,1.00);
  min-height: 400px;
  height: auto;
  width: 100%;
  padding-bottom: 35px;
}

#Skill{
	background-color: rgba(22, 145, 190, 1.00);
	min-height: 450px;
  height: auto;
	width: 100%;
  padding-bottom: 35px;
}

#Project{
	background-color: rgba(52, 152, 219,1.00);
	min-height: 450px;
  height: auto;
	width: 100%;
  padding-bottom: 35px;
}

#Contact{
	background-color: rgba(44, 62, 80,0.97);
	min-height: 250px;
  height: auto;
	width: 100%;
}

#Logo{
  background: #1C1C1C;
  text-align: center;
}

#Logo > img{
  width: 50px;
  height: 50px;
  margin-top: -3px;
}

.divContenuIcon{
  position: relative;
  top: -35px;
  text-align: center;
  width: 100%;
}

.divContenuIcon div{
  background: #f5f5f5;
  color: #333;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 60px;
  line-height: 60px;
  padding: 5px;
  position: relative;
}

span.icon.rond{
  font-size: 30px;
  height: 10px;
  line-height: 0;
  text-align: center;
  width: 28px;
  position: absolute;
  z-index: 999;
  top : 13px;
  left: 16px;
}

.btnView{
  font-family: 'Conv_Gotham-Book';
  font-size: 14px;
  color: #8a8a8d;
  border: 2px solid #8a8a8d;
  width: 228px;
  padding: 8px 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -114px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btnView:hover{
    border: 2px solid #fff;
}
/************************************************************************************
                                  ABOUT ME
*************************************************************************************/
#intro{
  min-height: 642px;
  height: auto;
  text-align: center;
  width: 100%;
}

 h1 {
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  top: 0px;
  line-height: 100px;
  left: -210px;
  font-size: 4em;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}


p{
  margin: 0 auto;
}

.right{
  padding-top: 3%;
}

.Aboutme {
  font-size: 34px;
  line-height: 44px;
  font-weight: 300;
  color: #fff;
  padding: 0px 100px 30px 100px;
}

.imgPerso{
  border-radius: 100px;
  border: 5px solid #fff;
  overflow: hidden;
}

/************************************************************************************
                                    SCHOOL                                    
*************************************************************************************/ 
/*      TIMELINE    */
span.cd-date {
  color: black;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
 /* margin-top: 2em;*/
  margin-bottom: 0;
}
 
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-block {
  position: relative;
 /* margin: 2em 0;*/
 *zoom: 1;
}
 
.cd-timeline-block:before,
.cd-timeline-block:after {
  content: " ";
  display: table;
}
 
.cd-timeline-block:after { 
  clear: both; 
}
 
.cd-timeline-block:first-child { 
  margin-top: 0; 
}
 
.cd-timeline-block:last-child { 
  margin-bottom: 0; 
}

 
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
 
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
 
.cd-timeline-img.cd-picture { 
  background: #75ce66; 
}
 
.cd-timeline-img.cd-movie { 
  background: #c03b44; 
}
 
.cd-timeline-img.cd-location { 
  background: #f0ca45; 
}
 
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 10px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
 *zoom: 1;
}
 
.cd-timeline-content:before,
.cd-timeline-content:after {
  content: " ";
  display: table;
}
 
.cd-timeline-content:after { 
  clear: both; 
}
 
.cd-timeline-content h2 {
 color: #303e49; 
}
 
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
 
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date { 
  display: inline-block; 
}
 
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
 
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
 
.no-touch .cd-timeline-content .cd-read-more:hover { 
  background-color: #bac4cb; 
}
 
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
 
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}


/************************************************************************************
                                    WORK                                     
*************************************************************************************/  
.title {
  margin-top: -20px;
  text-align: center;
  color: #fefefe;
}

#Work p{
  margin : 4%;
}

.separatebar{
  width: 100px;
  height: 2px;
  margin: auto;
  background: #27ae60;
  margin-bottom: 2%;
}

.separatebar2{
  width: 100px;
  height: 2px;
  margin: auto;
  background: #e74c3c;
  margin-bottom: 2%;
}

#pagewrap {
  padding: 5px;
  width: 100%;
  margin: 20px auto;
  display: inline-block;
}

#header {
  height: 100px;
  padding: 0 15px;
}

#content {
  width: 290px;
  float: left;
  padding: 5px 15px;
  display: block;
  position: relative;
  background: #aaa;
  margin: 0 auto; padding: 0;
  border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#content {
  background: -webkit-gradient(linear, left bottom, left top, from(#E5CFF3), to(#fefefe));
  background: -moz-linear-gradient(bottom,  #E5CF33,  #FAE139);
}

#content:before{
  content: "";
  position: absolute;
  right: 0px;
  border-color: #FFF #FFF #E5CF33 #E5CF33;
  border-style: solid;
  border-width: 0px 20px 20px 0px;
  height: 0px;
  width: 0px;
  display: block;
  -moz-box-shadow: 0pt 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0pt 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0pt 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 0pt 0pt 0pt 5px;
  -webkit-border-radius: 0pt 0pt 0pt 5px;
  border-radius: 0pt 6pt 0pt 6px;
  border-color: #2ecc71 #2ecc71 #E5CF33 #E5CF33;
  opacity: 0.93;
  border-width: 10px;
}

#footer {
  clear: both;
  padding: 0 15px;
}

#header, #content, #middle, #sidebar {
  margin-bottom: 5px;
  text-align: center;
  margin-left: 30px;
}


/************************************************************************************
                                    SKILLS
*************************************************************************************/
/*JAUGE CIRCULAIRE */
div.round{
  margin-top: 8%;
  width: 150px;
  height: 150px;
  position: relative;
  margin-right: 25px;
}

div.round input {
  position: absolute;
  top: 38px; left: 35px;
  font-size: 34px;
  text-align: center;
  width: 80px;
  border: none;
  background: none;
  outline: none;
}

div.round canvas{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

nav.contentCercle1 {
    text-align: center;
    margin-top: -2%;
    margin-bottom: 3%;
    height: 45%;
}

nav.contentCercle {
    text-align: center;
    margin-top: -4%;
    height: 45%;
}

nav ul.listeCercle
{
    list-style-type: none;
}

nav li.mesCercle
{
    display: inline-block;
    margin-right: 25px;
    color: #FFF;
}

h4.nameCercle{
  margin-top: -5%;
  /*font-family: 'Della Respira', serif;*/
  font-size: 0.8em;
}



/************************************************************************************
                                        PROJECTS
*************************************************************************************/
/* hover effect, premiere vu (image) */
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    /*background-color: rgba(219,127,8, 0.7);*/ 
    background: #2ecc71;
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/* vue = bandeau qui apparrait */
.view {
    width: 280px;
    height: 170px;
    margin: 10px;
    /*float: left;*/
    display: inline-block;
    border: 6px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 15px 25px 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    margin-right: 13%;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    margin-right: 10%;
    margin-top: 6%;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
}

.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

.info {
border: 2px solid #DDDDDD;
margin-bottom: 1em;
padding: 0.8em;
}

#contentImageProjet{
  text-align: center;
}


/************************************************************************************
                                        CONTACT
*************************************************************************************/
.bouton {
    display: inline-block;
    padding: 10px 28px;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.470;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
    background: #c0392b;
    color: #fff;
  }

  .bouton:hover{
    background: #e74c3c;
  }

address{
  margin-right: 40%;
  display: inline-block;
  vertical-align: top;
}

.CV{
  margin-top: 1%;
  margin-left: 2px;
  width: 100%;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: #e74c3c;
}

.footerLogo{
  padding-top: 5%;
  margin-left: 15%;
  text-decoration: none;
  display: flex;
}

span.pFooter{
  font-size: 1.4em;
  letter-spacing: 3px;
  margin: 0 5px;
  /*text-transform: uppercase;*/
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for  1170px or more */
@media only screen and (min-width: 1170px) {
 
  #cd-timeline {
    /*margin-top: 3em;*/
    margin-bottom: 5px;
  }
   
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }

  .cd-timeline-block {
    /*margin: 4em 0;*/ 
  }
   
  .cd-timeline-block:first-child { 
    margin-top: 0; 
  }
   
  .cd-timeline-block:last-child { 
    margin-bottom: 0; 
  }

  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
 
  .cd-timeline-content {
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    width: 44%;
  }
 
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
   
  .cd-timeline-content .cd-read-more { float: left; }
   
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
   
  .cd-timeline-block:nth-child(even) .cd-timeline-content { float: right; }
   
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
   
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more { float: right; }
   
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

@media only screen and (max-width: 1170px) {
    #cd-timeline {
      margin-left: 2%; 
    }

  .Aboutme {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    padding: 0px 40px 30px 40px;
  }
   
}

/* for 980px or less */
@media screen and (max-width: 980px) {
  
  #pagewrap {
    width: 94%;
    margin: 20px auto;
  }

  #content {
    width: 41%;
  }
  #middle {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }

  .Aboutme {
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    padding: 0px 10px 30px 10px;
  }

  #gauche {
    float:left;
    width:45%;
    padding-left: 30%;
  }

  #header, #footer {
    padding: 1% 4%;
  }
}

/* for 768PX or more */
@media only screen and (min-width: 768px) {
 
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
   
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
   
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {
  #content {
    width: auto;
    float: none;
  }

   h1 {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    top: 0px;
    line-height: 50px;
    left: -210px;
    font-size: 2.5em;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
  }

   .contentAboutme{
    display: block;
    text-align: center;
  }  

  .Aboutme {
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    padding: 0px 10px 30px 10px;
  }

  #gauche {
    padding-left: 28%;
  }

}

/* for 520px or less */
@media screen and (max-width: 520px){
  nav#menu {
    margin-left: 0; 
  }

  span.pFooter{
  font-size: medium;
  letter-spacing: 0px;
}

    .main,
  .container > header {
    padding: 0 5em; 
  }
}


/* for 480px or less */
@media screen and (max-width: 480px) {
  #header {
    height: auto;
  }

  h1 {
    font-size: 1.5em;
  }

  .footerLogo{  
    margin-left: 7%;
  }

}


/************************************************************************************
                                        ICONES
*************************************************************************************/

@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot');
  src: url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.woff') format('woff'),
    url('../../fonts/icomoon.ttf') format('truetype'),
    url('../../fonts/icomoon.svg#icomoon') format('svg');
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
}

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.svg#icomoon') format('svg');
  };
}

.icon-team, .icon-blog, .icon-home, .icon-portfolio, .icon-services, .icon-contact, .icon-menu, .icon-work, .icon-user, .icon-twitter, .icon-github, .icon-linkedin {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter, .icon-github, .icon-linkedin {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 4em;
  -webkit-font-smoothing: antialiased;
}

.icon-team:before {
  content: "\e000";
}

.icon-blog:before {
  content: "\e001";
}

.icon-home:before {
  content: "\e002";
}

.icon-portfolio:before {
  content: "\e003";
}

.icon-services:before {
  content: "\e004";
}

.icon-contact:before {
  content: "\e005";
}

.icon-user:before{
  content: "\e600";
}

.icon-work:before{
  content: "\e601";
}

.icon-menu:before {
  content: "\f0c9";
}

.icon-twitter:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e603";
}

.icon-linkedin:before {
  content: "\e604";
}