
.icon-github:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e600'; } /* '' */
.icon-linkedin:before { content: '\e900'; } /* '' */
.icon-viadeo:before { content: '\e700'; } /* '' */